:sources:
  - http://rubygems.org/
  - https://custom.gemserver.com/
:update_sources: true
:verbose: true

{% if grains.os == 'FreeBSD' %}
:ssl_ca_cert: /usr/local/etc/ssl/cert.pem
{% elif grains.os == 'Ubuntu' %}
:ssl_ca_cert: /etc/ssl/certs/ca-certificates.crt
{% endif %}
