{% set server = salt['grains.filter_by']({
    'Arch': {
	'pkg': 'openssh',
    },
    'Debian': {
        'pkg': 'openssh-server',
    },
    'RedHat': {
        'pkg': 'openssh-server',
    },
    'Ubuntu': {
        'pkg': 'openssh-server',
    },
}, merge=salt['pillar.get']('ssh:lookup')) %}
