{% set ruby_pkgs = salt['grains.filter_by']({
  'FreeBSD': {
    'required_pkgs': [ 'git',
      'rubygem-passenger' ],
    'user': 'root',
    'group': 'wheel'
  },
  'Arch': {
    'required_pkgs': [ '' ]
  },
  'Debian': {
    'required_pkgs': [
      'build-essential',
      'curl',
      'git-core',
      'libcurl4-openssl-dev',
      'libffi-dev',
      'libreadline-dev',
      'libssl-dev',
      'libxml2-dev',
      'libxslt1-dev',
      'libyaml-dev',
      'nodejs',
      'openssl',
      'python-software-properties',
      'zlib1g-dev'
    ],
    'user': 'root',
    'group': 'root'
  },
  'RedHat': {
    'required_pkgs': [ '' ]
  },
}) %}
